<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SyubaevSA_01_03"
        android:logo="@drawable/logo"
        tools:targetApi="31">

        <!-- Главная активность (flat_bank) -->
        <activity
            android:name=".flat_bank"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SyubaevSA_01_03"> <!-- Добавлен NoActionBar -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Остальные активности -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SyubaevSA_01_03"/> <!-- Явно указана тема -->

        <activity
            android:name=".cost_calculation"
            android:exported="false"
            android:theme="@style/Theme.SyubaevSA_01_03"/> <!-- Явно указана тема -->

        <activity
            android:name=".result"
            android:exported="false"
            android:theme="@style/Theme.SyubaevSA_01_03"/> <!-- Явно указана тема -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>